<section class="details">
  <h1><span>Edit</span> Your Post</h1>
  <% if @post.errors.any? %>
    <h4>Please fix the following <%= 'error'.pluralize(@post.errors.count)%> before resubmitting form</h4>
    <ul class="error">
      <% @post.errors.full_messages.each do |msg|  %>
        <li class="info"><%= msg %></li>
      <% end %>  
    </ul>
  <% else %>
    <p>What have you seen? Share it here - along with a photo if you have one</p>
  <% end %>
  <%= render 'form' %>
</section>