body.pages.index{

  h1{
    font-size: 120px;
    padding: 140px 20px 0 20px;
  }
  
  h2{
    padding: 0 25px;
    color: #FFF;
    font-weight: 300;
    font-size: 30px;
  }

  #container{
    background: url(http://3.bp.blogspot.com/-JR80Vah3CNw/T_M_aXP7fJI/AAAAAAAAAWQ/yOWwWejGbkM/s1600/skydive.jpg) no-repeat;
    background-size: cover;
  }

  .inner{
    margin: 20px;
    background: rgba(40,40,40,0.8);
    border-radius: 5px;
    padding: 10px;
    min-height: 500px;
    z-index: 5;
    position: relative;
  }

}