body.pages.index{

  h1{
    font-size: 120px;
    padding: 0 20px;
  }
  h2{
    padding: 0 25px 20px 25px;
    color: #FFF;
    font-weight: 300;
    font-size: 30px;
  }
  img{
    padding: 0 0 50px 20px;
  }

  #container{
    background: url(http://3.bp.blogspot.com/-JR80Vah3CNw/T_M_aXP7fJI/AAAAAAAAAWQ/yOWwWejGbkM/s1600/skydive.jpg) right no-repeat;
    /*background: url(http://parachuteschool.com/pictures/freefall%200051.jpg) no-repeat;*/
    background-size: cover;
  }
  #column-right{
    height: 600px;
    overflow: hidden;
    position: relative;
  }
  .innersearch,
  .innerpost{
    margin: 20px;
    background: rgba(40,40,40,0.8);
    border-radius: 5px;
    padding: 10px;
    z-index: 5;
    transition: all 2s ease;
    position: absolute;
    width: 83%;
  }
  .innerpost label{
    display: none;
  }
  .innerpost label.homeshow{
    display: block;
  }
  input[type="submit"]{
    width: 96%;
  }
  ul.check-box li{
    margin: .5em;
  }

  #post-user{
    background: rgba(40,40,40,0.4);
    clear: both;
  }

}
/********************************** special stuff for toggling the homepage forms *****/
#column-right.toggle-on .innerpost{
  top: 0px;
}
#column-right.toggle-on .innersearch{
  top: -700px;
}

#column-right.toggle-off .innerpost{
  top: -700px;
}
#column-right.toggle-off .innersearch{
  top: 0px;
}







/********************************** special stuff for the login form in the header *****/
ul#user{
  overflow: hidden;
}
.toggle-holder a{
  display: inline-block;
}

#loginform{
  padding: 0;
  margin: 0;
  height: 27px;
  display: inline-block;
}
#loginform input{
  height: 21px;
  display: inline;
  width: 100px;
  margin: 0 0 0 5px;
  padding: 0;
  box-shadow: 0px 0px 1px rgba(0,0,0,0.4);
  border-radius: 3px;
}
#loginform input[type="submit"]{
  width: auto;
  padding: 0 5px;
}

/***************************************** special toggle styles */

#loginform{
  transition: all 1s ease;
}
#loginform.toggle-off {
  margin-right: -260px;
}
#loginform.toggle-on {
  margin-right: 0;
}
