body.pages.index{

  h1{
    font-size: 120px;
    padding: 0 20px;
  }
  
  h2{
    padding: 0 25px;
    color: #FFF;
    font-weight: 300;
    font-size: 30px;
  }

  #container{
    background: url(http://3.bp.blogspot.com/-JR80Vah3CNw/T_M_aXP7fJI/AAAAAAAAAWQ/yOWwWejGbkM/s1600/skydive.jpg) no-repeat;
    background-size: cover;
  }

  .inner{
    margin: 20px;
    margin-top: 100%;
    background: rgba(255,255,255,0.8);
    border-radius: 5px;
    padding: 10px;
    z-index: 5;
    position: relative;
  }

  #post-user{
    background: rgba(40,40,40,0.4);
  }

}

/********************************** special stuff for the login form in the header *****/
ul#user{
  overflow: hidden;
}
.toggle-holder a{
  display: inline-block;
}

#loginform{
  padding: 0;
  margin: 0;
  height: 27px;
  display: inline-block;
}
#loginform input{
  height: 21px;
  display: inline;
  width: 100px;
  margin: 0 0 0 5px;
  padding: 0;
  box-shadow: 0px 0px 1px rgba(0,0,0,0.4);
  border-radius: 3px;
}
#loginform input[type="submit"]{
  width: auto;
  padding: 0 5px;
}

/***************************************** special toggle styles */

#loginform{
  transition: all 1s ease;
}
#loginform.toggle-off {
  margin-right: -260px;
}
#loginform.toggle-on {
  margin-right: 0;
}
