.unpopped,
.popped{
  background: rgba(40,40,40,0.8);
  border-bottom-left-radius: 40px;
  border-top-left-radius: 40px;
  height: 80px;
  position: absolute;
  transition: all 1s ease;
}
.unpopped{
  width: 200px;
  top: 750px;
  left: 380px;
  background: rgba(40,40,40,0.2);
}
.popped{
  width: 600px;
  top: 550px;
  left: 180px;
  box-shadow: 0px 1px 1px 3px rgba(0,0,0,0.3);
}


body.posts.index{
  #container{
    background: #333;
    min-height: 650px;
    position: relative;
    overflow: hidden;
  }
  #helper{
    position: relative;
    background: rgba(40,40,40,0.8);
    text-align: center;
    width: 60%;
    padding: 5px 0;
    margin: 0 auto;
    border-radius: 5px;
    box-shadow: 0px 1px 1px 3px rgba(0,0,0,0.2);
    p{
      margin: 5px auto;
    }
  }
  #options{
    position: absolute;
    transition: all 1s ease;
    background: rgba(40,40,40,0.8);
    border-radius: 5px;
    box-shadow: 0px 1px 1px 3px rgba(0,0,0,0.2);

    h1{
      color: #FFF;
      padding: 20px;
    }
    h2{
      color: #F60;
      padding: 20px;
    }
  }
  #options.toggle-off{
    top: -500px;
    overflow: hidden;
  }
  #options.toggle-on{
    top: 60px;
  }
  #options form{
    width: 40%;
    margin: 20px auto;
    text-align: left;
  }
  
}


/* just for adding the map as a background */
body.posts.index #container{
  position: relative;
}

#map-canvas {
  width: 100%;
  position: fixed; 
  top: 0; 
  left: 0; 
  bottom: 0;
  right: 0; 
  z-index: -1;
}
body.posts.index #map-canvas{
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

/********************************** generic way of listing user profile *****/
.details{
  padding: 20px 40px;

  img{
    float: right;
    border-radius: 5px;
    max-width: 280px;
    padding: 0 0 20px 20px;
  }
}
.posts article{
  margin-bottom: 5px;
  clear: both;
  height: 80px;
  border-radius: 40px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;

  h2 a{
    color: #53A4FF;
    font-size: 20px;
    border: 0;
    display: block;
    font-weight: 900;
    display: block;
    margin-left: 85px;
    padding-top: 15px;
    line-height: 20px;
  }
  p.info{
    margin-left: 85px;
  }

}



/********************************** generic way of listing all posts through iteration *****/
section.posts{
  padding: 20px 40px;
  clear: both;
}
section.posts article,
#post-user{
  margin-bottom: 5px;
  clear: both;
  height: 80px;
  border-radius: 40px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;

  h2 a{
    color: #53A4FF;
    font-size: 20px;
    border: 0;
    display: block;
    font-weight: 900;
    display: block;
    margin-left: 85px;
    padding-top: 15px;
    line-height: 20px;
  }
  p.info{
    margin-left: 85px;
  }

}
.bg1{
  background: rgba(255,255,255,0.1);
}
.bg2{
  background: rgba(0,0,0,0.1);
}
#post-user{
  background: rgba(0,0,0,0.3);

  h2{
    padding: 10px 0 0 0 !important;
  }
  h2 a{
    color: #FFF;
  }
}
.post-image{
  height: 70px;
  width: 70px;
  border-radius: 100%;
  float: left;
  margin: 5px;
}
.post-rating{
  height: 70px;
  width: 70px;
  border-radius: 5%;
  float: right;
  margin: 5px;
  text-align: center;
  line-height: 35px;
  font-size: 24px;
  background: rgba(255,255,255,0.2);

  form, input{
    padding: 0;
    margin: 0;
    font-weight: 900;
  }
  input{
    width: 70px;
    line-height: 35px;
  }
  .rating-good input[type="submit"]{
    background: green;
  }
  .rating-bad input[type="submit"]{
    background: red;
  }
  .rating-good{
    color: green;
    font-weight: 900;
    display: block;
  }
  .rating-bad{
    color: red;
    font-weight: 900;
    display: block;
  }
  .rating-count{
    display: block;
    border-top: dotted 2px rgba(0,0,0,0.1);
    color: #CCC;
    font-size: 14px;
  }
}
h2 a{
  color: #FFF;
  font-size: 20px;
  border: 0;
  display: block;
  font-weight: 900;
  display: block;
  margin-left: 85px;
  padding-top: 10px;
  line-height: 20px;
}
p.address,
p.posted{
  padding: 5px 5px 0 5px;
  text-align: right;
  display: block;
  margin: 0;
}
.tiny{
  font-size: 7px;
}






