  <header>
    <nav id="main">
      <ul>
        <li><%= link_to("Home", root_path) %></li>
        <li><%= link_to("News", posts_path) %></li>
      </ul>
      <ul id="user">
        <%== usernav %>
      </ul>
    </nav>
  </header>